keys.json
company_overview_dataset/overview
daily_prices_dataset/prices
news_sentiment_dataset/sentiments
*.log
*.json
*.csv
*.bin
Financial_reccomender_diagram.pptx
architecture.jpg
.ipynb_checkpoints/
streamlit_interface/.ipynb_checkpoints/
streamlit_interface/__pycache__/
model/aws_keys.txt
model/__pycache__
model/test.ipynb
model/test2.ipynb
.gitignore
